{% extends 'base_layout.html' %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="container">
          <div class="row justify-content-center" style="padding-top: 150px;">
            <div class="col-8 me3">
              <hr class="mt-0 mb-4">
                <h3>Signup</h3>
                <form class="site-form" action="{% url 'accounts:signup' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Signup">
                </form>
            </div>
          </div>
    </div>
{% endblock %}
