{% extends 'base_layout.html' %}

{% block content %}
{% load static %}
<div class="wrapper" style="padding-top: 200px;">
    <div class="container" style="margin-left: 300px; padding-right:200px;">
        <div style="border: solid; padding: 10px; border-radius: 25px;">
            <img src="{% static 'vinamra.PNG' %}" alt="" align="left" style="height:200px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br>
            <br>
            Contact Info :
            <br>
            Mobile Number - 1234567890
            <br>
            Email Id - vinbat@gmail.com
        </div>
        <br>
        <div style="border: solid; padding: 10px; border-radius: 25px;">
            <img src="{% static 'sarthak.PNG' %}" alt="" align="right" style="height:200px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <br>
            <br>
            Contact Info :
            <br>
            Mobile Number - 1234567890
            <br>
            Email Id - vinbat@gmail.com
        </div>
    </div>
</div>
{% endblock %}