{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <h1 style="padding-top: 150px; text-align: center;">Welcome, {{ user.get_username }}.</h1>
    <div class="posts">
        <div class="container">
            <div class="row">
    {% for post in posts %}
        <div class="postinner col-md-3" style="padding-top:5px; word-wrap: break-word;">
            <h1><a href="{% url 'posts:detail' pk=post.pk %}" style="color: beige;">{{ post.title }}</a></h1>
            <p>{{ post.snippet }}</p>
            <p>{{ post.date }}</p>
        </div>

    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}